.scrollable-segment {
    height: 120px; /* Ajusta según tus necesidades */
    overflow-y: auto;
    scrollbar-width: none; /* para Firefox */
  }
  
  .scrollable-segment::-webkit-scrollbar {
    display: none; /* para Chrome, Safari y Opera */
  }
  
  .scrollable-segment:hover {
    scrollbar-width: auto; /* para Firefox */
  }
  
  .scrollable-segment:hover::-webkit-scrollbar {
    display: block; /* para Chrome, Safari y Opera */
  }
